@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Yeseva+One&display=swap');
@import '../scss/rangeslider.css';


$background:aqua;
$darkFont: #252E46;
$darkBlueFont: #7993a6;
$lightBlueFont: #b3c3d3;
$yesevaFont:'Yeseva One';
$montserratFont: 'Montserrat';


body, html {
 
    background-color: transparent;
     max-width: 100%;
    overflow-x: hidden;
}

hr {
    border: none;
}

h2 {
    font-size: 1rem;
    color:$darkBlueFont;
    font-family: $montserratFont;
    font-weight: 100;
}

p {
    font-size: 0.6rem;
    color:$darkBlueFont;

}

#sliderWrapper {
    width:685px;
    /* -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 0px 0px 5px 0px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, inset 0px 0px 5px 0px rgba(0,0,0,0); */
}

.productHeadline svg{
top:3px;
left:5px;
position: relative;
cursor: pointer;
}

.radioBtns svg {
position: absolute;
left:10px;
top:9px;
}

.submitBtn svg {
  position: absolute;
  left:80px;
  top:11px;
  }

.whiteBg {
    background-color:white;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.25); 
box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.25);
}

.calculationSlider {
    background: rgb(255,255,255);
    // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,240,1) 67%, rgba(231,231,231,1) 100%);
    // border-radius: 15px 15px 0px 0px;
}

.loanDetails {
    color: white;
    font-size: 0.45rem;
    text-align: center;
    padding: 0px 5px 20px 5px;
}

.innerSliderText {
    color:$lightBlueFont;
    font-size: 0.6rem;
}

.loanInfo {
    padding-top: 15px;
    color:#1c2b32;
    font-size: 0.6rem;
    line-height: 5px;
}

.loanInfoStatic {
    text-align: left;
}

.divider {
    content: ' ';
    height:20px !important;
}

.dividerLarge {
    content: ' ';
    height:40px;
}



.form-control {
    background-color: white !important;
    margin-bottom: 10px;
    border-color:#1c2b32;
    margin-bottom: 20px;
}

.dynamicText {
    text-align: right;
    font-weight: 700;
}

.submitBtn {
    font-family: $montserratFont;
    text-transform: uppercase;
    color:white;
    background-color: $darkBlueFont;
    border-radius: 30px;
    padding-left: 50px;
}

  
  /*  RANGE SLIDER */
  .rangeslider,
.rangeslider__fill {
  display: block;

  /* -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; */
  
}

.dynamicDisclaimer {
    color: $lightBlueFont;
    font-family: $montserratFont;
}

.rangeslider {
    background:#dde8f0;
    position: relative;
    // border: solid 10px #bebebe;
    border-radius: 25px;
}

.rangeslider--horizontal {
  height:45px !important; 
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15); 
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
  height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #00ff00;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: white;
  /* border: 1px solid #ccc; */
  border: 5px solid white;
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: -5px;
  position: absolute;
  background-size: 100%;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9cafbd;
  /* background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0)); */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}



.rangeslider__fill{
    background: #7993a6;
    border-radius: 20px;
}

.innerSliderText p {
    font-family: $montserratFont;
    font-weight: 500;
  padding: 5px 10px 0px 10px;
font-size: .6rem;
color:$darkBlueFont;
}
 
.sliderLoanInfo input{
  font-size: 1.1rem;
  text-align: right;
}

.sliderLoanInfo label {
  font-weight: 600;
  font-size: .7rem !important;
  line-height: 0;
}

.sliderLoanInfo  {
  width:120px;
  background-color: white;
  padding-top: 20px;
  margin-left: 20px;
}



.btn-primary {
  border-color: white !important;
  font-size: 0.8rem;
  height: 45px;
  width:100%;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color:#c39d63;
  background-color:white;
 
}

.btn-primary:hover {
    color:#c39d63;
    border-color: #c39d63 !important;
    background-color:white;
}

.btn-group > .btn{
    border-radius: 5px !important;
    }

    .btn-group-sm >.btn {
        border-radius: 5px !important;
        width:210px !important;
        height:40px;
        font-size: 1em;
        padding-top: 10px;
        font-weight: 400;
        text-align: left;
        padding: 9px 0px 0px 40px;
    }

    #productSelector .radioBtns {
      border-color: #d8dce0 !important;
      color:#9cafbd;
      border-radius: 10px !important;
transition: border-radius ease 1s;

    }

    .radioBtns {   
      color:white;
      font-family: $montserratFont !important;
    }

    #productAmountSelector .radioBtns:nth-child(1) {
      background:#b3c3d3;
      
    }
    #productAmountSelector .radioBtns:nth-child(2) {
      background:#47aca5;
    }
    
    #productAmountSelector .radioBtns:nth-child(3) {
      background:#ecd3e7;
    }

    #productSelector .radioBtns {
      // border-color:  !important;
      color:white;
      background: $lightBlueFont;
     }
 
     #productSelector .radioBtns.active {
       // border-color:  !important;
       color:$darkBlueFont;
       background: #dde8f0;
       
      }
 

   
.btn.focus {
  box-shadow: none !important;
}

.radioBtns.active {
   background-color: white !important;
   color:$darkBlueFont;
   border: 1px solid $lightBlueFont;
}

.monthlyPaymentWrapper, .loanAmountWrapper {
    display:flex;
}

.monthlyPaymentWrapper p{
    font-family: $montserratFont;
    font-size: 0.8em;
   padding-top:13px;
    
  
}
.monthlyPaymentWrapper h2 {
    font-size: 1.8em;
    font-family: $montserratFont;
   font-weight: 600;
    // padding-left: 10px;
}

.loanAmountWrapper p{
    font-family: $montserratFont;
    font-size: 0.8em;
  

    
  
}
.loanAmountWrapper h2 {
    font-size: 0.8em;
    font-family: $montserratFont;
    padding-top:2px;
    padding-left: 5px;
}


@media only screen and (max-width: 667px) {
  
  #sliderWrapper {
      width:100%;

  }

  .monthlyPaymentWrapper h2 {
    font-size: 1em;
    font-family: "Montserrat";
    font-weight: 600;
}

#productAmountSelector{
  font-size: 0.9em;
}

.loanDetails {
  font-size: 0.35rem;
  text-align: center;
  padding: 14px 5px 20px 5px;
}

.monthlyPaymentWrapper p {
  font-family: "Montserrat";
  font-size: 0.5em  !important;
  padding-top: 7px !important;
}

  .submitBtn svg {
    position: absolute;
    left:70px;
    top:11px;
    }
  
  .form-control {
      font-size: 1rem;
      text-align:right;
  }

  .sliderLoanInfoMobile, .loanInfoMobile {
      padding: 0px 5px 20px 5px;
  }

  .sliderLoanInfoMobile label {
      text-transform: uppercase;
      font-weight: 600;
      font-size: .6rem !important;
      line-height: 0;
  }

  .form-control {
      background-color: white !important; 
      border-color: #1c2b32;
      margin-bottom: 0px !important;
  }

  .btn-primary {
      border-color: white !important;
      font-size: 0.8rem;
      height: 45px;
      width: 100%;
  }
  .sliderLoanInfo input {
      font-size: 0.6rem;
      text-align: right;
  }

  .sliderLoanInfo  {
      align-items: stretch;
      justify-content: space-between;
}



.row {
  margin-right: 0px;
  margin-left: 0px; 
}

.col-4 {
  padding-left: 5px;
  padding-right: 5px;
}


}

